

<!-- bootstrap.js below is only needed if you wish to the feature of viewing details
     of text file preview via modal dialog -->

<span id="instaject"></span>

<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" onclick="">
  Instagram Upload
</button>

<script>
hash = function(str) {
  if (str.indexOf(".") == -1) {
    alert("No file extension on file. Upload cancelled.");
    return false;
  }
  else {
    var filename = str.substring(0,str.lastIndexOf("."));
    str.substring(str.lastIndexOf("."), str.length);

    var self = filename, range = Array(filename.length);
    for(var i = 0; i < self.length; i++) {
      range[i] = i;
    }
    return Array.prototype.map.call(range, function(i) {
      return self.charCodeAt(i).toString(16);
    }).join('').concat(Date.now().toString()).concat(str.substring(str.lastIndexOf("."), str.length));        
  }
}

$(function() {
    $('input[name="file"]').change(function(){
       var filename = $(this).val().split("C:\\fakepath\\")[1];
       console.log(filename);
       var fn2 = hash(filename);
       // $('<label>Filename selected: '+ hash(filename) +'</label>').insertAfter($(this));
       $('input[name="key"]').val(fn2);
       link_url = "https://s3-us-west-2.amazonaws.com/colle-browser/" + fn2;
       console.log( $('input[name="key"]').val());
       $("#amazon").submit();
       $("#dish_pic_url").val("https://s3-us-west-2.amazonaws.com/colle-browser/"+fn2);
       console.log( $('#dish_pic_url').val() );
    });
})



</script>

          <form id="amazon" action="http://colle-browser.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="key" value="picbum/${filename}">
            <input type="hidden" name="AWSAccessKeyId" value="AKIAJEKX2XTWW2DW2BKA"> 
            <input type="hidden" name="acl" value="public-read"> 
            <!-- Fill these HTML fields with data generated from python script -->
            <input type="hidden" name="policy" value='ewogICJleHBpcmF0aW9uIjogIjIwMTctMDEtMDFUMDA6MDA6MDAuMDBaIiwKICAiY29uZGl0aW9ucyI6IFsKICAgIHsiYnVja2V0IjogImNvbGxlLWJyb3dzZXIiIH0sCiAgICBbInN0YXJ0cy13aXRoIiwgIiRrZXkiLCAiIl0sCiAgICB7ImFjbCI6ICJwdWJsaWMtcmVhZCIgfSwKICAgIFsic3RhcnRzLXdpdGgiLCAiJENvbnRlbnQtVHlwZSIsICJDT05URU5UX1RZUEUiXSwKICAgIFsiY29udGVudC1sZW5ndGgtcmFuZ2UiLCAwLCAxMDQ4NTc2XSwKICBdCn0='>
            <input type="hidden" name="signature" value="oi2fV0Hkjd1fUGbpeAKs+gyvRVk=">
            <input type="hidden" name="Content-Type" value="CONTENT_TYPE">
            <!-- Include any additional input fields here -->
<!-- 
            File upload
            <input name="file" type="file" title=" "> 
             -->

             <style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
             </style>
<!-- <span class="btn btn-default btn-file">
    Photo Upload <input name="file" type="file" title=" "> 
</span>                         Browse&hellip;  -->

            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Photo Upload <input name="file" type="file">
                    </span>
                </span>
                <input type="text" class="form-control" readonly>
            </div>

        </form> 

<script>
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
        
    });
});
</script>

<%= form_for @changeset, @action, fn f -> %>
  <%= if f.errors != [] do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below:</p>
      <ul>
        <%= for {attr, message} <- f.errors do %>
          <li><%= humanize(attr) %> <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <label>Name</label>
    <%= text_input f, :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Description</label>
    <%= text_input f, :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Price</label>
    <%= number_input f, :price, class: "form-control" %>
  </div>

          <%= hidden_input(:dish, :pic_url) %>
          <%= hidden_input(:dish, :insta_url) %>

        <input  type="hidden" id="imageURL" name="image_url" type="text">
  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>





<% end %>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Instagram image selection</h4>
      </div>
      <div id="instagram_modal" class="modal-body" style="overflow-y: auto; max-height: 350px">
      <div class="picker"> <select class="image-picker show-html" id="insta_single" style="display: none;"></select> </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="randomFunction();">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--         <div id="modal5" class="modal" aria-hidden="true" style="position: fixed;">
          <div class="modal-content"  style="overflow-y: auto; height: 400px;">
<div class="picker"> <select class="image-picker show-html" id="insta_single"></select> </div>
          </div>
          <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-green btn-flat " onclick='randomFunction()'>SELECT</button>
            <button class="modal-action modal-close waves-effect waves-red btn-flat" >CANCEL</button>
          </div>
        </div> -->



<script>



randomFunction = function(val) {
  $('#myModal').modal('toggle')
  var imageURL = $( "#insta_single option:selected" ).val();
  console.log(imageURL);
  // $('#instaject-outer').show();
  $('#instaject').empty();
  $('#instaject').append('<img height="150px" width="150px" style="padding: 10px 10px 10px 10px" src=' + '"' + imageURL + '"' + '>')
  $('#dish_insta_url').val(imageURL);
}



      </script>
